#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 30%;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 13px;
  background: #161328;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: relative; /* Ensure the slide is positioned relative for absolute positioning of the image */
  overflow: visible; /* Allow overflow to make the image visible outside the card */
  z-index: 1; /* Ensure the card is below the image */
}

.swiper-slide-img {
  display: block;
  width: 120px; /* Adjust width as needed */
  height: 120px; /* Adjust height as needed */
  object-fit: cover;
  position: absolute;
  top: -60px; /* Position the image half outside the card */
  left: 50%;
  transform: translateX(-50%); /* Center the image horizontally */
  border-radius: 50%; /* Keep the image circular */
  z-index: 10; /* Ensure the image is above the card */
}